@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 10px 20px;
  background-color: #9e2a2b;
  color: #fff3b0;
  font-family: 'Stick No Bills', sans-serif;
}

h2 {
  font-size: 2rem;
}

button:hover {
  cursor: pointer;
}

.calculator {
  width: 400px;
  margin: auto auto;
}

.display {
  font-size: 1.5rem;
  text-align: right;
  padding: 20px 10px;
  background: #858694;
  color: #e0e0e0;
  overflow: auto;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
}

.key {
  width: 25%;
  height: 4.5rem;
  border-radius: 0;
  border: solid 1px #e0e0e0;
}

.big-key {
  width: 50%;
}

.orange-key {
  background-color: #f5913e;
}
