*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 40px;
}

.calculator {
  width: 400px;
  margin: auto auto;
}

.display {
  font-size: 1.5rem;
  text-align: right;
  padding: 20px 10px;
  background: #858694;
  color: #E0E0E0;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
}

.key {
  width: 25%;
  height: 4.5rem;
  border-radius: 0;
  border: solid 1px #E0E0E0;
}

.big-key {
  width: 50%;
}

.orange-key {
  background-color: #F5913E;
}

